.btnClase {
    background: #ffd300;
    color: #000;
    border: none;
    padding: 8px 16px;
    font-weight: 800;
    border-radius: 6px;
    cursor: pointer;
    transition: background .2s, color .2s;
}

.btnClase:hover {
    background: #000;
    color: #ffd300;
}